
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/spectre.min.css">
    <title>murmur.uber.space | exchange logic free mumble hosting</title>
    <style>
    body {
        font-family: Helvetica, Arial, sans-serif;
    }
    #wrapper {
        margin-left: auto;
        margin-right: auto;
        max-width: 450px;
    }
    #header {
        background: #fff none repeat scroll 0% 0%;
        border-bottom: 1px solid rgb(238, 238, 238);
        font-family:system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        letter-spacing: 0.05em;
        margin: 0px auto;
        text-align: center;
    }
    #header h1 {
        font-weight: 100;
        font-size: 200%;
        font-family:system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        margin-bottom: 0;
        line-height: 1.25;
        color: black;
    }
    #header a:hover {
        text-decoration: none;
    }
    #header h2 {
        color: #666;
        font-size: 125%;
        font-weight: 100;
        margin-top: 0;
    }
    #content {
        padding: 1em;
    }
    </style>
{% block head %}{% endblock %}
</head>
<body>
<div id="wrapper">
    <div id="header">
        <h1><a href="/">murmur.uber.space</a></h1>
        <h2>exchange logic free mumble hosting</h2>
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>