<p>We want to give everyone the opportunity to get their own Mumble server in an uncomplicated way, regardless of their financial and technical possibilities.</p>


<p>Unfortunately, the offer involves financial costs. If you have the financial possibilities, you can support us. All the money goes to our hosting provider <a href="https://uberspace.de">uberspace</a>, even if it is too much, because we want to support them in their great work.</p>

<ul>
    <li><b>SEPA transfer</b>
        <div style="padding-left: 1em;opacity:0.8;font-family: monospace">
        Jonas Pasche<br>
        IBAN: DE35 5505 0120 0200 0039 78<br>
        BIC: MALADE51MNZ<br>
        »Uberspace murmur«
        </div>
    </li>
    <li><b>Cash</b>
        <div style="padding-left: 1em;opacity:0.8">
            Simply send a letter to following address including a piece of paper saying »murmur«
            <div style="font-family:monospace">
                Jonas Pasche<br>
                Kaiserstr. 15<br>
                55116 Mainz<br>
                GERMANY
            </div>
        </div>
    </li>
    <li><b>Uberspace transfer</b>
    <div style="padding-left: 1em;opacity:0.8">
        If you own an uberspce account, you can also transfer money to our account »murmur« via the <a href="https://dashboard.uberspace.de/dashboard/accounting">accounting page</a>
        </div>
    </li>
</ul>
<i style="opactiy: 0.4;font-size:0.7">Please note that the person behind the account is not responsible for this offer! please don't write him for anything related to the mumble hosting.</i>