{% extends "base.twig" %}

{% block content %}

<h2>Create a mumble instance</h2>
<div class="toast toast-success">
    Yuhu: Your mumble instance got created! 🎉 check the link in your email inbox for further details.
</div>
<p></p>
<h2>Donation</h2>
{% include "donation.twig" %}
{% endblock %}

