{% extends "base.twig" %}

{% block content %}

<h2>Create a mumble instance</h2>
<form action="/create" method="post" class="form-group">
    {% if errors|length %}
    <div class="pure-error">
        Error:
        <ul>
            {% for err in errors %}
                <li>{{ err }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <fieldset>
        {# <legend></legend> #}
        <label for="email" class="form-label">Your Email</label>
        <input type="email" name="email" id="email" class="form-input" value="{{ email|default('') }}" />

        <label for="password" class="form-label">Server-Password</label>
        <input type="text" name="password" id="password" value="{{ password }}" spellcheck="false"  class="form-input" />

        <label for="duration" class="form-label">Expire after...</label>
        <select id="duration" name="duration" class="form-select">
            {% for d in time_frames %}
                <option value="{{ d.duration }}">{{ d.label }}</option>
            {% endfor %}
        </select>
        <label for="captcha" class="form-label">{{ captcha }}</label>
        <input type="text" name="captcha" id="captcha" placeholder="please enter the text" spellcheck="false"  class="form-input" />
        <small style="opacity:0.4;font-size:0.7em">If you can't read the text in the image, write us a mail: murmur@systemli.org</small>
        <input type="hidden" name="token" value="{{ token }}" />
        <p></p>
        <button type="submit" class="btn btn-primary input-group-btn">Create server</button>
    </fieldset>
</form>

<h2>Donation</h2>
{% include "donation.twig" %}


<p></p>
<h2>Contact</h2>
Do you need a longer duration? contact us! <a href="mailto:murmur@systemli.org">murmur@systemli.org</a>
{% endblock %}

