{% extends "base.twig" %}

{% block content %}

<div class="toast toast-error">
    <b>Error:</b> Mumble instance could not be found. Either the address is wrong or it did expire.
</div>

{% endblock %}

