{% extends "base.twig" %}

{% block content %}
<h2>your mumble server</h2>
<table class="table">
    <tr>
        <td class="text-right">Host</td>
        <td><samp>{{ instance.host }}</samp></td>
    </tr>
    <tr>
        <td class="text-right">Port</td>
        <td><samp>{{ instance.port }}</samp></td>
    </tr>
    <tr>
        <td class="text-right">Server Password</td>
        <td><samp>{{ instance.serverPassword }}</samp></td>
    </tr>
    <tr>
        <td class="text-right">SuperUser Password</td>
        <td><samp>{{ instance.suPassword }}</samp></td>
    </tr>
    <tr>
        <td class="text-right">running until</td>
        <td><samp>{{ expirationDate }}</samp></td>
    </tr>
</table>

<p></p>
<h2>Donation</h2>
{% include "donation.twig" %}

{% endblock %}



